<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <Properties>
        <Property name="app.name">spring-study</Property>
    </Properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n" charset="utf-8"/>
        </Console>
        <RollingFile name="ActionLog"
                     fileName="${miaoqian.log.path}/action.log"
                     filePattern="${miaoqian.log.path}/action.%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout charset="utf-8">
                <Pattern>%d{MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n</Pattern>
            </PatternLayout>
            <!--<Policies>-->
            <!--<TimeBasedTriggeringPolicy interval="1" modulate="true"/>-->
            <!--</Policies>-->
            <SizeBasedTriggeringPolicy size="300MB"/>
            <DefaultRolloverStrategy max="40"/>
        </RollingFile>

        <!--<Loghub name="LOGHUB"-->
                <!--projectName="miaoqian2017"-->
                <!--logstore="miaoqian2017"-->
                <!--endpoint="${miaoqian.log.endpoint}"-->
                <!--accessKeyId="LTAInUbTzDOWtJSb"-->
                <!--accessKey="ugD9orNPIUJYhkB4ts6T5PsYLVlz6e"-->
                <!--topic="TEST"-->
                <!--timeZone="GMT+8"-->
                <!--timeFormat="yyyy-MM-dd HH:mm:ss,SSS">-->
        <!--</Loghub>-->

        <RollingFile name="SQLLog"
                     fileName="${miaoqian.log.path}/sql.log"
                     filePattern="${miaoqian.log.path}/sql.%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout charset="utf-8">
                <Pattern>%d{MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n</Pattern>
            </PatternLayout>
            <!--<TimeBasedTriggeringPolicy modulate="true" interval="1"/>-->
            <SizeBasedTriggeringPolicy size="300M"/>
            <DefaultRolloverStrategy max="40"/>
        </RollingFile>

        <RollingFile name="FileLog"
                     fileName="${miaoqian.log.path}/miaoqian_app.log"
                     filePattern="${miaoqian.log.path}/miaoqian_app.%d{yyyy-MM-dd-HH}-%i.log.gz"
                     immediateFlush="${miaoqian.log.flush}"
                     bufferedIO="${miaoqian.log.buffer}">
            <PatternLayout charset="utf-8">
                <Pattern>%d{MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n</Pattern>
            </PatternLayout>
            <!--<TimeBasedTriggeringPolicy modulate="true" interval="1"/>-->
            <SizeBasedTriggeringPolicy size="300M"/>
            <DefaultRolloverStrategy max="40"/>
        </RollingFile>

        <RollingFile name="ControllerLog"
                     fileName="${miaoqian.log.path}/miaoqian_app_http.log"
                     filePattern="${miaoqian.log.path}/miaoqian_app_http.%d{yyyy-MM-dd-HH}-%i.log.gz"
                     immediateFlush="${miaoqian.log.flush}"
                     bufferedIO="${miaoqian.log.buffer}">
            <PatternLayout charset="utf-8">
                <Pattern>%d{MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n</Pattern>
            </PatternLayout>
            <!--<TimeBasedTriggeringPolicy modulate="true" interval="1"/>-->
            <SizeBasedTriggeringPolicy size="300M"/>
            <DefaultRolloverStrategy max="40"/>
        </RollingFile>
        <!--<TraceAppender name="TraceAppender" logFolder="${miaoqian.log.path}/${app.name}" fileMaxSize="100" allInOneFile="false">-->
        <!--<PatternLayout charset="utf-8">-->
        <!--<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>-->
        <!--</PatternLayout>-->
        <!--</TraceAppender>-->

        <RollingFile name="MiaoqianAppErrorLog"
                     fileName="${miaoqian.log.path}/miaoqian_app_error.log"
                     filePattern="${miaoqian.log.path}/miaoqian_app_error.%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout charset="utf-8">
                <Pattern>%d{MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n</Pattern>
            </PatternLayout>
            <!--<TimeBasedTriggeringPolicy modulate="true" interval="1"/>-->
            <SizeBasedTriggeringPolicy size="300M"/>
            <DefaultRolloverStrategy max="40"/>
        </RollingFile>

    </appenders>
    <loggers>

        <logger name="RocketmqClient" level="error"/>
        <logger name="com.alibaba.rocketmq" level="error"/>
        <logger name="org.springframework" level="debug" additivity="true"/>
        <!--<logger name="com.miaoqian.framework.platform" level="DEBUG"/>-->
        <logger name="org.apache.zookeeper" level="INFO" additivity="false"/>


        <logger name="com.springstudy" level="INFO" additivity="true">
            <AppenderRef ref="MiaoqianAppErrorLog" level="ERROR"/>
        </logger>


        <root level="${miaoqian.rootlog.level}">
            <AppenderRef ref="FileLog"/>
            <AppenderRef ref="Console" level="${miaoqian.consoleLog.level}"/>
        </root>
    </loggers>
</configuration>
